---
layout: default
permalink: /
---

<div class="home-page wrapper">

  <section class="blog-section">
    {% if site.posts.size > 0 %}
      <h2 class="list-heading">Blog Posts</h2>
      <ul class="list">
        {% for post in site.posts limit: 2 %}
          <li>
            <span class="post-meta">{{ post.date | date: site.date_format }}
            </span>
            <h3>
              <a class="list-link" href="{{ post.url | relative_url }}">
                {{ post.title }}
              </a>
            </h3>
            {% if site.show_excerpts %}
              {{ post.excerpt }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
      <p class="rss-subscribe">
        subscribe
        <a href="{{ '/feed.xml' | relative_url }}">via RSS</a>
      </p>
    {% endif %}
  </section>

  <section class="projects-section">
    {% if site.data.projects.size > 0 %}
      <h2 class="list-heading">Latest Projects</h2>
      <ul class="list">
        {% for project in site.data.projects limit: 2 offset: 1 %}
          <li>
            <span class="post-meta">{{ project.date | date: site.date_format }}</span>
            <h3>
              <a class="post-link" href="{{ '/projects' | relative_url }}">{{ project.title }}</a>
            </h3>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </section>

</div>
