@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol' !default;
$base-font-size: 16px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit: 1rem !default;

// $brand-color: #2a7ae2;
$color-primary: #3f51b5;
$color-secondary: #f50057;
$color-error: #f44336;
$color-warning: #ffa726;
$color-info: #29b6f6;
$color-success: #66bb6a;

$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;

:root {
  --background-color: #fdfdfd;
  --text-color: #111;
  --mask-opacity: 0;
  --input-background-color: #efefef;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #121212;
    --text-color: #fdfdfd;
    --mask-opacity: 0.1;
    --input-background-color: #323232;
    img {
      opacity: 0.75;
      transition: opacity 0.5s ease-in-out;
    }
    img:hover {
      opacity: 1;
    }
  }
}

$table-text-align: left !default;

// Width of the content area
$content-width: 1025px !default;

$on-mobile: 480px !default;
$on-tablet: 768px !default;
$on-laptop: 900px !default;
$on-desktop: 1025px !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import 'minima/base', 'minima/layout', 'minima/syntax-highlighting';
