---
layout: page
title: Projects
permalink: /projects/
---
<div class="projects-wrapper">
  {% for project in site.data.projects %}
  {% if project.title != 'Placeholder' %}
  <div class="project-tile">
    <img class="screenshot"
      src="/assets/images/{{- project.screenshot | relative_url -}}"
      alt="{{-  project.alt_text -}}" />
    <div class='tile-content'>
      <h3 class="sub-title">{{- project.title -}}</h3>
      <p class='project-description'>{{- project.description -}}</p>
      <a class="link-button" href="{{- project.repo_url | relative_url -}}"
        target="_blank" rel="noopener noreferrer">
        <i class="fab fa-github"></i>
        <span>Repo</span>
      </a>
      <a class="link-button" href="{{- project.site_url | relative_url -}}"
        target="_blank" rel="noopener noreferrer">
        <i class="fas fa-globe-americas"></i>
        <span>Website</span>
      </a>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>